<div style="text-align:center">
    <section>
      <img src="../assets/images/firstpagelogo.png" class="img-fluid" style="width:85%;padding-bottom:15px;padding-top: 20px;"/>
      <h2 style="padding-bottom:10px;">Welcome to Pharmacia!</h2>
      <h6 style="color:#19a3eb;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;padding-bottom: 30px;">One stop app for all your health needs</h6>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <a class="btn" id="loginbtn" routerLink="/login"><b>Login</b></a>
          <h6 id="loginmessage">Existing User</h6>
        </div>
        <div class="col-md-6 col-sm-12">
            <a class="btn" id="registerbtn" routerLink="/register" ><b>Join</b></a>
            <h6 id="registermessage">New User?</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <a routerLink="/register" style="color:black;float:right;padding-bottom: 15px;font-size: 23px;">SKIP <i style="font-size:20px;padding-left: 5px;padding-top: 45px;" class="fa">&#xf0da;</i></a>
        </div>
      </div>
    </section>
  </div>